
h1 { font: 32px/38px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; background-color: #fff; color: #333; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-top: 10px; margin-bottom: 15px; }
