/* GLOBALHEADER */
#globalheader { width: 982px; height: 38px; margin: 18px auto; position: relative; z-index: 9998; }
/* #globalheader { width: 865px; height: 38px; margin: 18px auto; position: relative; z-index: 9998; }*/
#globalheader #globalnav { margin: 0; padding: 0; }
#globalheader #globalnav li { display: inline; }
#globalheader #globalnav li a { float: left; width: 117px; height: 0; padding-top: 38px; overflow: hidden; }
#globalheader #globalnav li a,
#globalheader #lastbutton { background-image: url(globalnavbg.png); _background-image: url(globalnavbg.gif); background-repeat: no-repeat; }


/* LAST BUTTON
 * Needs to be defined seperately because it is wider than the others. */
#lastbutton { width: 163px; height: 38px; position: absolute; top: 0; right: 0; background-position: 100% 0; background-repeat: no-repeat; }


/* BUTTONS */
#globalheader #globalnav li#gn-home a { background-position: 0 0; }
#globalheader #globalnav li#gn-background a { background-position: -117px 0; }
#globalheader #globalnav li#gn-downloads a { background-position: -234px 0; }
#globalheader #globalnav li#gn-documentation a { background-position: -351px 0; }
#globalheader #globalnav li#gn-development a { background-position: -468px 0; }
#globalheader #globalnav li#gn-support a { background-position: -585px 0; }
#globalheader #globalnav li#gn-empty a { background-position: -702px 0; }

/* OVER STATES */
#globalheader #globalnav li#gn-home a:hover { background-position: 0 -38px; }
#globalheader #globalnav li#gn-background a:hover { background-position: -117px -38px; }
#globalheader #globalnav li#gn-downloads a:hover { background-position: -234px -38px; }
#globalheader #globalnav li#gn-documentation a:hover { background-position: -351px -38px; }
#globalheader #globalnav li#gn-development a:hover { background-position: -468px -38px; }
#globalheader #globalnav li#gn-support a:hover { background-position: -585px -38px; }
#globalheader #globalnav li#gn-empty a:hover { background-position: -702px 0px; }

/* PRESSED STATES */
#globalheader #globalnav li#gn-home a:active { background-position: 0 -76px; }
#globalheader #globalnav li#gn-background a:active { background-position: -117px -76px; }
#globalheader #globalnav li#gn-downloads a:active { background-position: -234px -76px; }
#globalheader #globalnav li#gn-documentation a:active { background-position: -351px -76px; }
#globalheader #globalnav li#gn-development a:active { background-position: -468px -76px; }
#globalheader #globalnav li#gn-support a:active { background-position: -585px -76px; }
#globalheader #globalnav li#gn-empty a:active { background-position: -702px 0px; }

/* ON STATES */
/*#globalheader.home #globalnav li#gn-home a { background-position: 0 -114px; 
 * ! important; } */
.about #globalheader #globalnav li#gn-background a { background-position: -117px -114px !important; }
.downloads #globalheader #globalnav li#gn-downloads a { background-position: -234px -114px !important; }
.documentation #globalheader #globalnav li#gn-documentation a { background-position: -351px -114px !important; }
.development #globalheader #globalnav li#gn-development a { background-position: -468px -114px !important; }
.support #globalheader #globalnav li#gn-support a { background-position: -585px -114px !important; }
/*#globalheader.empty #globalnav li#gn-empty a { background-position: -702px -114px !important; } */


