/* Media. */
.media {margin-top: 70px; }
.media:first-child {margin-top: 0px; }
.img { }

.highlight { margin: 7px 10px 18px; padding: 7px 10px; clear:both }
.highlight { border: 1px solid #DDDDDD; }

.right { float:right; } 
.left { float:left; } 


/* Layout. */
body { width: 960px; margin: 0 auto; position: relative; }

#container { margin: 0px; position: relative; }

.column { float: left; }
.grid2col { width: 100%; }
.grid2col .column.first { width: 440px; }
.grid2col .column.last { width: 440px; }
.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }

p.last, ul.last, ol.last, li.last { _width: auto !important; _float: none !important; }

.last { margin-bottom: 0; }

#container:after, .grid2col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#container, .grid2col { zoom: 1; }


/* Type. */
body { font: 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; background-color: #fff; color: #333; }

strong, b { font-weight: bold; }
em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
p { margin-bottom: 18px; }

code { font-family: monospace; }

/* Headers. */
h1 { font-weight: bold; font-size: 28px; line-height: 1.5; margin: 30px 0px 40px; }
h2 { font-weight: bold; font-size: 20px; line-height: 1.5; margin: 40px 0px 0px; }
h3 { font-weight: bold; font-size: 16px; line-height: 1.5; margin: 20px 0px 0px; }
h4 { font-weight: bold; font-size: 14px; line-height: 1.5; margin: 10px 0px 0px; }
/* h2:first-child { margin-top: 0px; } */
.references {margin-top: 40px; }


/* Lists. */
ul { margin-bottom: 18px; list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ul { list-style: circle; margin-left: 2em; }


/* Links. */
a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

.references a { color: #000; }
.references a:hover { color: #08c; }
.references a #c1,
.references a #c1,
.references a #c2,
.references a #c3,
.references a #c4,
.references a #c5,
.references a #c6,
.references a #c7,
.references a #c8,
.references a #c9,
.references a #c10,
.references a #c11,
.references a #c12,
.references a #c13,
.references a #c14,
.references a #c15,
.references a #c16,
.references a #c17,
.references a #c18,
.references a #c19,
.references a #c20,
.references a #c21,
.references a #c22,
.references a #c23,
.references a #c24,
.references a #c25 { color: #08c; text-decoration: none; }
