<div id="globalheader" class="home">
  <!--googleoff: all-->
  <ul id="globalnav">
    <li id="gn-home"><a href="/">Home</a></li>
    <li id="gn-about"><a href="/about">About GFRD</a></li>
    <li id="gn-downloads"><a href="/downloads">Downloads</a></li>
    <li id="gn-documentation"><a href="/documentation">Documentation</a></li>
    <li id="gn-support"><a href="/support">Support</a></li>
    <!--li id="gn-development"><a href="/development">Development</a></li-->
    <li id="gn-empty"><a></a></li>
    <li id="gn-empty"><a></a></li>
  </ul>
  <!--googleon: all-->
  <div id="lastbutton"> </div>
</div>
