<div id="globalheader">
  <!--googleoff: all-->
  <ul id="globalnav">
    <li id="gn-home"><a href="/">Home</a></li>
    <li id="gn-algorithm"><a href="/algorithm">Algorithm</a></li>
    <li id="gn-background"><a href="/background">Background</a></li>
    <li id="gn-downloads"><a href="/downloads">Downloads</a></li>
    <li id="gn-documentation"><a href="/documentation">Documentation</a></li>
    <li id="gn-support"><a href="/support">Support</a></li>
    <li class="gn-empty"><a></a></li>
  </ul>
  <!--googleon: all-->
  <div id="lastbutton"> </div>
</div>
