<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>{{site.gfrd_title}}</title>
    <meta name="description" content="{{page.description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <section class="page-header">
      <h1 class="project-name">{{site.title}}</h1>
      <h2 class="project-tagline">{{site.description}}</h2>
      <a href="index" class="btn">Overview</a>
      <a href="{{site.paper}}" class="btn">Paper</a>
      <a href="{{site.github_install_instructions}}" class="btn">Getting Started</a>
      <a href="{{site.github_documentation}}" class="btn">Documentation</a>
      <a href="{{site.hugging_face_website}}" class="btn">Quick try out</a>
      <a href="add_ons" class="btn">Add-ons</a>
    </section>

    <section class="main-content">
      {{content}}
      <footer class="site-footer">
          <span class="site-footer-owner">Copyright <a href="{{site.company_website}}">{{site.company_name}}</a> 2017</span>
      </footer>
    </section>
    
  </body>
</html>
