<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/css/menu.css" type="text/css"/>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
</head>
<body>

<div id="container">
{% include menu.html %}

<h1>{{ page.header }}</h1>
{{ content }}
</div>

{% include footer.html %}
</body>
</html>
