<html>
<head>
  <title>GFRD</title>
  <link rel="stylesheet" href="css/base.css" type="text/css" />
  <link rel="stylesheet" href="css/home.css" type="text/css" />
  <link rel="stylesheet" href="css/menu.css" type="text/css" />
  <link rel="stylesheet" href="css/override.css" type="text/css" />
	<!--style type="text/css" media="all">
		html,body { background-color: #fff; }
		body { padding-top: 18px; }
		#globalheader { margin-top: 0; }
		#billboard { color: #000; font-size: 16px; height: 565px; margin: 0 auto 16px; position: relative; width: 980px; margin-top: -12px; background: url(http://images.apple.com/home/images/imac_hero_20091020.jpg) no-repeat; }
		#billboard:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		#billboard a { display: block; width: 980px; height: 565px; }
		#billboard h1, #billboard p { position: absolute; left: 65px; }
		#billboard h1 { top: 157px; }
		#billboard p { top: 275px; }
		#billboard p.caption { top:auto; left:auto; right:13px; bottom:8px; margin:0; width:120px; text-align:right; font-size:9px; color:#999; line-height:11px; }
		#billboard p.caption i a { display: inline; width: auto; height: auto; color:#999; }
		#billboard a.video { position: absolute; width: 150px; height: 110px; left: 61px; top: 388px; }
		#billboard a.mm { position: absolute; width: 100px; height: 50px; left: 710px; top: 515px; text-indent: -9999px; overflow: hidden; }
		#homefooter .sosumi p.last { padding-top: 24px; }
		#homefooter .sosumi i a { color: #333; }
	</style-->
</head>
<body>
{% include menu.html %}

<div id="billboard">

   {{ content }}

</div>

{% include footer.html %}
</body>
</html>
