<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="/css/home.css" type="text/css"/>
  <link rel="stylesheet" href="/css/menu.css" type="text/css"/>
  <link rel="stylesheet" href="/css/footer.css" type="text/css"/>

  <script src="/html5media/html5media.min.js"></script>
  <!--[if lt IE 9]>
  <script src="/ie7/IE9.js"></script>
  <![endif]-->
</head>
<body>

{% include menu.html %}

<h1>{{ page.header }}</h1>

<div id="container">
{{ content }}
</div>

{% include footer.html %}
</body>
</html>
