<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/base.css" type="text/css"/>
  <link rel="stylesheet" href="/css/menu.css" type="text/css"/>
  <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
  <link rel="stylesheet" href="/css/override.css" type="text/css"/>
</head>
<body>

<div class="{{ page.file }}">
{% include menu.html %}</div>

<div id="container">
<h1> {{ page.header }} </h1>
<div class="box"> 
<div class="cap"></div> 
<div class="text">
{{ content }}</div>
<div class="boot"></div> 
</div>
</div>

{% include footer.html %}
</body>
</html>
